<table class="table table-condensed table-bordered">
  <thead>
    <tr bgcolor="#a9a9a9">
      <th>Name</th>
      <th>Party</th>
      <th>Votes</th>
    </tr>
  </thead>
  <tbody>
    <%= render @seat.nominations %>
  </tbody>
</table>
