<table class="table table-bordered sortable">
  <thead>
    <th>Name</th>
    <th>Party</th>
    <th>Votes</th>
    <th>Percentage</th>
  </thead>
  <tbody>
    <%= render @seat.nominations %>
  </tbody>
</table>
