<tr>
  <td><%= nomination.candidate %></td>
  <td><%= nomination.party.abbr %></td>
  <td><%= number_with_delimiter(nomination.votes) %></td>
  <td><%= number_to_percentage(nomination.percentage, precision: 1) %></td>
</tr>
