<tr>
  <td><%= nomination.candidate %></td>
  <td><%= link_to nomination.party.abbr, nomination.party %></td>
  <td><%= number_with_delimiter(nomination.votes) %></td>
  <td><%= number_to_percentage(nomination.percentage, precision: 1) %></td>
</tr>
