<table class="table table-hover table-bordered sortable">
  <thead>
      <th> Constituency</th>
      <th> Candidate</th>
      <th data-defaultsort="desc"> Votes</th>
      <th> Lost To</th>
      <th> Lost By</th>
  </thead>
  <tbody>
    <%= render partial: 'nominations/party_nomination', collection: candidates,  as: :candidate %>
  </tbody>
</table>
